body {
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background: rgba(211, 211, 211, 0.28);
}

.header {
    background: #343a40;
    color: #ffffff;
}

.header.fixed-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.container{
    width: 1140px;
    margin: auto;
}

.header .container{
  padding: 10px 0px 15px 0px;
}

.menu {
    display: flex;
    /* justify-content: space-between; */
}

.menu .logo-container .logo {
    cursor: pointer;
    font-size: 23px;
}

.menu .nav-links-container {
    text-align: right;
    margin-left: auto;
}

.menu .nav-links-container ul{
    list-style: none;
    margin: 0px;
    padding-top: 7px;
}

.menu .nav-links-container ul li{
    display: inline-block;
    padding-right: 25px;
}

.menu .nav-links-container ul li:last-child{
    padding-right: 0px;
}

.menu .nav-links-container ul li a{
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
}

.menu .nav-links-container ul li a:hover{
    opacity: 1;
}

.main-content {
    margin-top: 60px;
}

.main-content .head-image img{
    width: 100%;
    padding: 20px 0px;
}

.main-content .blog-content {
    display: flex;
    justify-content: space-between;
}

.main-content .blog-content .posts-list {
    width: 72%;
}

.main-content .blog-content .sidebar {
    width: 25%;
}


/* card styles */
.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-bottom: 15px;
    margin-bottom: 20px;
    background: #ffffff;
} 

.card h3, .card h4{
    margin: 0px;
}

.card .card-header {
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 15px 20px;
}

.card .card-body {
    padding: 20px;
}

.card .card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 15px 20px;
}

.card.article-card .card-header{
   padding: 0px; 
   max-height: 300px;
}  

.card.article-card .card-header img{
    width: 100%;
    max-height: 300px;
}

.card p{
    margin: 0px;
}

/* footer */
.footer {
    background-color: #343a40;
    padding: 40px 20px;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .menu {
        flex-direction: column;
    }

    .menu .logo-container, .menu .nav-links-container {
        width: 100%;
        text-align: center;
    }

    .menu .nav-links-container {
        padding-top: 6px;
    }

    .main-content {
        margin-top: 80px;
    }

    .main-content .head-image img {
        padding: 20px 0px 10px 0px;
        width: 97%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    
    .main-content .blog-content {
        flex-direction: column;
    }

    .main-content .blog-content .posts-list, .main-content .blog-content .sidebar {
        width: 97%;
        margin: auto;
        padding: 0px;
    }
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 100%;
    }

    .menu {
        padding: 0px 1.5%;
    }

    .main-content .head-image img {
        padding: 10px 0px 10px 0px;
        width: 97%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    
    .main-content .blog-content {
        flex-direction: column;
    }

    .main-content .blog-content .posts-list, .main-content .blog-content .sidebar {
        width: 97%;
        margin: auto;
        padding: 0px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-content .blog-content {
        flex-direction: row;
    }

    .main-content .blog-content .posts-list {
        width: 71.5%;
        margin: 0px;
        margin-left: 1.5%;
    }
    
    .main-content .blog-content .sidebar {
        width: 23.5%;
        margin: 0px;
        margin-right: 1.5%;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        width: 1140px;
        margin: auto;
    }
}


