body {
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background: rgba(211, 211, 211, 0.28);
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.container {
    width: 1140px;
    margin: auto;
}

.header {
    background: #343A40;
    color: #ffffff;
}

.fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header .container {
    padding: 10px 0px 15px 0px;
}

.logo-container {
    float: left;
}

.logo-container .logo {
    font-size: 23px;
    cursor: pointer;
}

.nav-links-container {
    float: right;
}

.nav-links-container ul {
    list-style: none;
    margin: 0px;
    padding: 7px 0px 0px;
}

.nav-links-container ul li{
    display: inline-block;
    padding-right: 25px;
}

.nav-links-container ul li a{
    color: #ffffff;
    text-decoration: none;
    opacity: 0.7;
}

.nav-links-container ul li a:hover {
    opacity: 1;
}

.main-content {
    margin-top: 80px;
}

.main-content .head-image img {
    max-width: 100%;
}

.blog-content {
    margin-top: 15px;
}

.blog-content .posts-list {
    float: left;
    width: 72%;
}

.blog-content .sidebar {
    float: right;
    width: 25%;
}

.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 20px;
}

.card .card-header {
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 15px 20px;
}

.card.article-card .card-header {
    padding: 0px;
    max-height: 300px;
}

.card .card-header img{
    width: 100%;
    max-width: 100%;
    height: 300px;
}

.card .card-body {
    padding: 20px;
}

.card h3, .card p, .card h4 {
    margin: 0px;
}

.card .card-footer {
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 15px 20px;
}

.footer {
    color: #ffffff;
    background: #343A40;
    text-align: center;
    padding: 40px 0px;
    margin-top: 20px;
}

/* Media Queries */
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .container {
        width: 97%;
    }
    
    .logo-container, .nav-links-container {
        float: none;
        text-align: center;
    }

    .logo-container {
        margin-bottom: 10px;
    }

    .main-content {
        margin-top: 105px;
    }

    .blog-content .posts-list, .blog-content .sidebar {
        float: none;
        width: 100%;
    }

    .blog-content {
        margin-top: 10px;
    }
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 97%;
    }

    .nav-links-container ul li {
        padding-right: 20px;
    }

    .main-content {
        margin-top: 70px;
    }

    .blog-content .posts-list, 
    .blog-content .sidebar {
        float: none;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .blog-content .posts-list {
        float: left;
        width: 72%;
    }
    
    .blog-content .sidebar {
        float: right;
        width: 25%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

