// Color variables
$body-background: rgba(211, 211, 211, 0.28);
$gray-dark: #343A40;
$gray-light: rgba(0,0,0,.125);
$gray-light2: rgba(0,0,0,.03);
$white: #ffffff;

// Width/Height variables
$container-width: 1140px;