// color variables
$body-color: #777777;
$white: #ffffff;
$header-shadow: #d3d3d3de;
$theme-color: #8490ff;
$black: #000000;
$button-stop1: #908ced;
$button-stop2: #b56fe8;
$gradient-stop3: #b172e8;
$gray1: #f4f4f4;
$gray2: #eeeeee;
$gray3: #d3d3d3;
$gray-dark: #222222;
$white-shade1: #ffffffa3;

// font-family variables
$poppins-regular: "Poppins", sans-serif;
$poppins-thin: "Poppins-thin", sans-serif;
$poppins-light: "Poppins-light", sans-serif;
$poppins-semibold: "Poppins-semibold", sans-serif;
$poppins-bold: "Poppins-bold", sans-serif;